.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  z-index: 105;
  &.active{
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
  }
  &__body{
    margin: auto;
    position: relative;
    top:40px;
    box-sizing: border-box;
    text-align: center;
    z-index: 101;
    background-color: #ffffff;
    padding: 45px 50px;
    width: 780px;
    border-radius: 10px;
    box-shadow: 0 2px 4px 0 rgba(32, 36, 56, 0.1);
    border: solid 1px rgba(32, 36, 56, 0.1);
    &-date{
      font-size: 15px;
      line-height: 1.47;
      text-align: left;
      color: #999999;
    }
    &-img{
      width: 650px;
      height: 383px;
      border-radius: 8px;
      img{
        max-height: 100%;
      }
    }
    &-txt{
      font-size: 16px;
    }
  }
  &__close{
    position: fixed;
    top: 15px;
    right: 35px;
    border-radius: 50%;
    width: 64px;
    height: 64px;
    background-image: url("../../image/close.svg");
    background-repeat: no-repeat;
    cursor: pointer;
    z-index: 120;
    &:hover{
      background-image: url("../../image/closeHover.svg");
      background-repeat: no-repeat;
    }
  }
}